<div class="bg-gray-100 flex justify-center items-center min-h-screen">
    <div class="flex flex-col md:flex-row w-full">
        <div class="md:w-1/2 bg-blue-200 overflow-hidden m-5 rounded-lg">
            <img src="https://source.unsplash.com/random/1200x800" alt="Image Not Found" class="w-full h-full object-cover">
        </div>    
        
        <div class="md:w-1/2 bg-blue-200 p-8 m-5 rounded-lg">
            <h2 class="text-2xl font-semibold mb-4">Register</h2>
            <form class="space-y-4" [formGroup]="registerForm">
                <div>
                    <label for="fullName" class="block font-medium">Full Name</label>
                    <input type="text" id="fullName" formControlName="fullName" class="form-input mt-1 block w-full rounded-md" required>
                </div>
                <div>
                    <label for="email" class="block font-medium">Email</label>
                    <input type="email" id="email" formControlName="email" class="form-input mt-1 block w-full rounded-md" required>
                </div>
                <div>
                    <label for="username" class="block font-medium">Username</label>
                    <input type="text" id="username" formControlName="username" class="form-input mt-1 block w-full rounded-md" required>
                </div>
                <div>
                    <label for="mobNo" class="block font-medium">Mobile Number</label>
                    <input type="tel" id="mobNo" formControlName="mobNo" class="form-input mt-1 block w-full rounded-md" required>
                </div>
                <div class="mb-4">
                    <label for="avatarImage" class="block text-gray-700">Avatar Image</label>
                    <input type="file" id="avatarImage" (change)="fileUpload($event)" class="form-input mt-1 block w-full" required>
                </div>
                <div class="mb-4">
                    <label for="coverImage" class="block text-gray-700">Cover Image</label>
                    <input type="file" id="coverImage" (change)="fileUpload($event)" class="form-input mt-1 block w-full" required>
                </div>
                <div>
                    <label for="password" class="block font-medium">Password</label>
                    <input type="password" id="password" formControlName="password" class="form-input mt-1 block w-full rounded-md" required>
                    <p id="password-error" class="text-red-500 hidden">Password must be at least 6 characters long</p>
                </div>
                <button type="submit" class="w-full bg-blue-500 text-white py-2 rounded-md hover:bg-blue-600" (click)="userRegister()">Register</button>

                <p class="mt-10 text-center text-sm text-gray-500 cursor-pointer">
                    Already Have an Account?
                    <a routerLink="/user/login" class="font-semibold leading-6 text-indigo-600 hover:text-indigo-500">Login</a>
                  </p>
            </form>
        </div>
    </div>
</div>
