<body class="bg-gray-100 flex items-center justify-center h-screen">
    <div class="bg-white shadow-lg rounded-lg p-8 md:p-16 text-center">
        <h2 class="text-2xl font-bold text-gray-800 mb-4">Are you sure you want to logout?</h2>
        <p class="text-gray-600 mb-8">We hate to see you go, but we hope to see you again soon.</p>
        <div class="flex justify-center space-x-4">
            <a routerLink="/youtube" routerLinkActive="router-link-active"   class="px-4 py-2 bg-gray-300 text-gray-800 rounded hover:bg-gray-400 transition duration-300 ease-in-out">Cancel</a>
            <button  class="px-4 py-2 bg-red-500 text-white rounded hover:bg-red-600 transition duration-300 ease-in-out" (click)="logoutUser()" >Logout</button>
        </div>
    </div>
</body>